.container {
  max-width: 800px;
  padding: 120px 100px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 12px;
}

td button{
  font-size: 1.8rem;
  display: flex;
  border: none;
  background: var(--surface);
  color: red;
}

th {
  background: var(--surface);
  color: var(--text);
}

input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
}

.addButton {
  margin-top: 15px;
  padding: 12px 20px;

  border: none;
  border-radius: 10px;

  background: var(--surface);
  color: var(--text);

  cursor: pointer;
}