.container {
  padding: 120px 100px;
  margin: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  border: 1px solid var(--border-color);

  background: var(--surface);

}

.container h2{
  text-align: center;
  font-size: 1.8rem;
  color: var(--text);
}

th{
  font-size: 1.1rem;
  color: var(--text);
}

select{
  width: 120px;
  height: 50px;
  background: var(--bg);
  color: var(--text);
  border: none;
  text-align: center;
}

@media (max-width: 768px) {
  .tableWapper{
    display: grid;
  }
}