.containerError {
    width: 100%;
    height: 100vh;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    position: relative;
    background-color: black;
}

.auroraBg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.errorInformation{
        width: 80%;
    max-width: 900px;
    padding: 30px;

    font-size: 1.2rem;
    color: #D9D9D9;
    text-align: center;

    border: 1px solid #2E2E2E;
    border-radius: 20px;
    backdrop-filter: blur(6px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 2;
}

.errorInformation img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    width: 300px;
    height: 300px;

    mask-image: linear-gradient(
        black 80%
        transparent
    );
}

