footer{
    font-family: Arial, Helvetica, sans-serif;
}

.footerContainer{
    padding: 40px 40px;
    height: 150px;
    background-color: black;
    color: #D9D9D9;
    border: #2E2E2E 1px solid;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}



footer h1{
    color: #D9D9D9;
    text-align: center;
    font-size: 1rem;
}

.imageLogo img {
  height: 120px;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageLogo img:hover {
  transform: translateY(-5px);
}
