

.alimentosContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: 20px;
  margin: 10px;

  border: 1px solid #3b3b3b;
  border-radius: 10px;
}

.alimentoIndex {
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 10px;

  padding: 20px;
}

.alimentoIndex label {
  font-size: 1.8rem;
}


.alimentoIndex input {
  width: 300px;
  height: 20px;
  padding: 15px;

  font-size: 0.9rem;
  color: inherit;

  background-color: #3b3b3b;
  border-radius: 10px;
  border: none;

  opacity: 0.5;
  transition: all 0.4s ease;
}

.alimentoIndex input:hover {
  background-color: #242424;
  color: white;
  opacity: 0.8;
}

.alimentoIndex input:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
    
    .alimentoIndex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;

    }

}