.workoutContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
    border: 1px solid #2e2e2e;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

.hdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #2e2e2e;
    border-radius: 12px;
    min-width: 380px;
}


.rutineContainer {
    border: 1px solid #2e2e2e;
    border-radius: 12px;
    padding: 20px;
    width: 500px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}



.hdf h1,h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.indexWorkout {
    border: 1px solid #2e2e2e;
    border-radius: 12px;
    padding: 15px;
    height: 500px;
    width: 350px;
    overflow-y: auto;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

.linea {
    background: linear-gradient(to right, transparent, #2e2e2e, transparent);
    width: 100%;
    height: 2px;
    border-radius: 10px;
}
