.alimentacionDescripcion {
  display: flex;
  gap: 10px;
  padding: 20px;
  border: #2E2E2E 1px solid;
  border-radius: 10px;
  transition: all 0.4s;
}

.alimentacionDescripcion:hover {
  transform: translateY(-5px);
}

.desAlimentacion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alimentacionDescripcion img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.verDetalle a{
    color: #D9D9D9;
}

@media (max-width: 768px) {
    
    .alimentacionDescripcion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 300px;
        width: 300px;
    }

    .alimentacionDescripcion img {

        width: 250px;
        height: 200px;
        
    }


    

}