.containerCardCategory {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #d9d9d9;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.auroraBg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.cardCategory{
    z-index: 99;
    display: flex;
    flex-direction: column;
}

.cardCategory img{
    z-index: 99;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgStyle{
    height: 200px;
    width: 200px;
}
