.auroraBg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.loadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 95vh;
    background-color: black;
    z-index: 99;
    color: white;
}

.loadingContainer p{
    color: white;
    font-size: 1.4rem;
    z-index: 99;
}