header{
    width: 100%;
}


nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.imageLogo img {
    height: 150px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageLogo img:hover {
    transform: translateY(-5px);
}


.Links li, .LinksDate li{
    list-style: none;
    text-decoration: none;
} 

.Links, .LinksDate{
    display: flex;
    font-size: 1.2rem;
    gap: 10px;
}

.Links a, .LinksDate a{
    color: white;
    text-decoration: none;
    transition: all ease 0.4s;

}

.Links a:hover{
    color: red;
    transition: 0.4s;
}

.LinksDate a:hover{
    color: red;
    transition: 0.4s;
}

@media (max-width: 760px) {
    nav{
        width: 100%;
    }
}