:root {
  --color-bg: 
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  height: 60px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 2px  white;
}

.imageLogo img {
  height: 100px;
  width: 150px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageLogo img:hover {
  transform: translateY(-5px);
}

ul {
  padding: 0;
  margin: 0;
}

.Links li,
.LinksDate li {
  list-style: none;
}

.Links,
.LinksDate {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Links a{
  color: #D9D9D9;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.Links a:hover{
  color: #E53935;
}


.itemToggle {
  display: none;
  cursor: pointer;
}

.itemToggle span {
  width: 30px;
  height: 4px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.LinksDate{
  background-color: white;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid white;
  transition: all 0.4s ease;
  cursor: pointer;
}

.LinksDate:hover{
  background-color: black;
  color: white;
  transition: 0.4s;
}

.LinksDate:hover a{
  color: white;
  transition: 0.4s;
}

.LinksDate a{
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.loginStyle{
  display: flex;
  align-items: center;
  gap: 5px;
}



@media (max-width: 768px) {
  .menuLinks {
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    z-index: 999;
    border: 1px solid white;
  }

  .menuLinks.open {
    transform: translateX(0);
  }

  .Links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    
  }

  .Links a{
    gap: 25px;
  }

  .LinksDate {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
  }

  .itemToggle {
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }

  .open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .open span:nth-child(2) {
    opacity: 0;
  }
  .open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .imageLogo img{
    width: 150px;
    height: 100px;
  }

}
