.detailContainer {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    position: relative;
    background-color: black;
}

.auroraBg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.detailInformtaion {

    width: 80%;
    max-width: 900px;
    padding: 30px;

    font-size: 1.2rem;
    color: #D9D9D9;
    text-align: end;

    border: 1px solid #2E2E2E;
    border-radius: 20px;
    backdrop-filter: blur(6px);

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    z-index: 2;

}

.detailImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailImage{
    height: 200px;
    width: 300px;
}

.indexDetail {
    display: flex;
    flex-direction: column;
    gap: 5px;
  
}

.LinkStyle{
    z-index: 999;
}

.LinkStyle a{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: #D9D9D9;
    text-decoration: none;
    transition: all 0.4s ease;
    
}

.LinkStyle a:hover{
    color: #440e03;
}

.icon{
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .detailContainer{
        padding-top: 80px;
    }

    .detailInformtaion{
        display: flex;
        flex-direction: column;
    }
    
}