/* =========================================================
   CARDS DE RUTINA
========================================================= */
.ItemR {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.ItemRInformation {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    padding: 10px;

    height: 250px;
    width: 200px;
    border: 1px solid var(--border-color);
    background: var(--surface);
    color: var(--text);
}

.ItemRInformation h4 {
    font-size: 1.4rem;
    
}

.ItemRInformation p {
    font-size: 1rem;
    color: var(--text-secondary);
}

.ItemRImage img{
    height: 100%;
    width: 100%;
}

.ItemRImage{
    height: 150px;
    width: 150px;
}