.alimentacionDescripcion {
  display: flex;
  gap: 10px;
  padding: 20px;
  border: #3b3b3b 1px solid;
  border-radius: 10px;
  transition: all 0.4s;
}

.alimentacionDescripcion:hover {
  transform: translateY(-5px);
}

.desAlimentacion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alimentacionDescripcion img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
