.adminContainer {
    width: 100%;
    height: 100vh;
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    position: relative;

    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.auroraBg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.adminCard {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    color: #D9D9D9;
    background: linear-gradient(135deg, #710A04, #190201, #710A04);
    background-size: 300% 300%;
    border-radius: 20px;

    animation: gradientAnimation 6s ease infinite;
    box-shadow: 0 0 18px rgba(255, 73, 48, 0.4);

    height: 500px;
    width: 500px;
}

.adminCard h1 {
    font-size: 2rem;
    font-weight: 500;
}

.adminCard label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminCard input {
    padding: 10px;

    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    border: 1px solid #2E2E2E;

    border-radius: 10px;
    border: none;

    transition: all ease 0.4s;
}

.adminCard input:focus {
    box-shadow: 0 0 5px #C11007;
    color: white;
}

.adminCard input:active {
    transform: scale(0.98);
}


.adminIndex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnAdmin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAdmin button {
    font-size: 1rem;
    padding: 5px;

    border: 1px solid #2E2E2E;
    border-radius: 10px;

    width: 100%;
    height: 30px;

    transition: all 0.4s;

    cursor: pointer;
}

.btnAdmin button:hover {
    background-color: black;
    color: #9C1107;
}

.btnAdmin button:active{
    transform: scale(0.98);
}

.linea {
    width: 50%;
    height: 1px;
    background-color: white;
    margin: 10px auto;
    border-radius: 2px;
}

.adminLogin {
    display: flex;
    gap: 5px;
    font-size: 0.9rem;
}

.adminLogin a {
    color: black;
    text-decoration: none;
}

.adminLogin a:hover{
    text-decoration: underline;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 760px) {

    .adminCard{
        width: 320px;
    }
    
}