.loginContainer {
    width: 100%;
    height: 100vh;
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    position: relative;

    background: var(--bg);
}

.loginCard {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    color: var(--text);
    background: var(--surface);
    border-radius: 20px;
    border: 1px solid var(--border-color);


    height: 400px;
    width: 400px;

}

.loginCard label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginCard a {
    color: var(--text-secondary);
    font-size: 0.8rem;
    text-decoration: none;
}


.loginCard input {
   padding: 15px;
    font-size: 0.9rem;

    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--surface);
    border: 1px solid var(--border-color);
    border-radius: 10px;

    transition: all ease 0.4s;
    opacity: 0.5;
}

.loginCard input:focus {
    border: none;
    background: var(--bg);
    color: var(--text); 
    opacity: 0.8;
}

.loginCard input:active {

    transform: scale(0.98);

}

.loginCard h1 {
    font-size: 2rem;
    font-weight: 500;
}

.loginIndex {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.btnLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;

}

.btnLogin button {
    font-size: 1rem;

    border: 1px solid var(--border-color);
    color: var(--text);
    border-radius: 10px;
    background: var(--primary);

    width: 200px;
    height: 40px;

    transition: all 0.4s;

    cursor: pointer;
    opacity: 0.8;

}

.btnLogin button:hover {
    background: var(--surface);
}

.btnLogin button:active {
    transform: scale(0.98);
}

.linea {
    width: 50%;
    height: 1px;
    background: white;
    margin: 10px auto;
    border-radius: 2px;
}


.loginRegister {
    display: flex;
    gap: 5px;
}


.loginRegister a {
    color: var(--primary);
    text-decoration: none;
    font-size: 0.9rem;
}

.loginRegister a:hover {
    text-decoration: underline;
}


@media (max-width: 760px) {

    .loginCard {
        width: 320px;
    }

}