.loginContainer {
    width: 100%;
    height: 100vh;
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    position: relative;

    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.auroraBg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.loginCard {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    color: #D9D9D9;
    background-size: 300% 300%;
    border-radius: 20px;

    box-shadow: 0 0 10px rgba(255, 73, 48, 0.4);

    height: 500px;
    width: 500px;

}

.loginCard label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginCard a {
    color: black;
    font-size: 0.8rem;
    text-decoration: none;
}


.loginCard input {
    padding: 15px;
    font-size: 0.9rem;

    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2E2E2E;
    background-color: #3B3B3B;

    border-radius: 10px;
    border: none;

    transition: all ease 0.4s;

    opacity: 0.9;
}

.loginCard input:focus {
    background-color: #242424;
    color: #C4C4C4;
    opacity: 0.5;
}

.loginCard input:active {

    transform: scale(0.98);

}

.loginCard h1 {
    font-size: 2rem;
    font-weight: 500;
}

.loginIndex {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.btnLogin {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btnLogin button {
    font-size: 1rem;
    padding: 5px;

    border: 1px solid #2E2E2E;
    color: white;
    border-radius: 10px;
    background-color: #3B3B3B;

    width: 100%;
    height: 30px;

    transition: all 0.4s;

    cursor: pointer;
    opacity: 0.9;

}

.btnLogin button:hover {
    background-color: #242424;
    color: #C4C4C4;
}

.btnLogin button:active {
    transform: scale(0.98);
}

.linea {
    width: 50%;
    height: 1px;
    background-color: white;
    margin: 10px auto;
    border-radius: 2px;
}


.loginRegister {
    display: flex;
    font-size: 0.9rem;
    gap: 5px;
}


.loginRegister a {
    color: #9C1107;
    text-decoration: none;
}

.loginRegister a:hover {
    text-decoration: underline;
}


@media (max-width: 760px) {

    .loginCard {

        width: 320px;
    }

}