.loginContainer {
    width: 100%;
    height: 100vh;
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    position: relative;

    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.auroraBg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.loginCard {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    background-color: #440E03;
    color: #D9D9D9;
    background: linear-gradient(135deg, #440E03, #9C1107, #440E03);
    background-size: 300% 300%;

    animation: gradientAnimation 6s ease infinite;
    box-shadow: 0 0 18px rgba(255, 73, 48, 0.4);

    height: 400px;
    width: 400px;
}

.loginCard label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginCard a {
    color: black;
    font-size: 0.8rem;
    text-decoration: none;
}

.loginCard input {
    padding: 10px;

    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2E2E2E;

    border-radius: 10px;
    border: none;

    transition: all ease 0.4s;     

}

.loginCard input:focus {
  box-shadow: 0 0 5px #C11007;
  background-color: black;       
  color: white;
}

.loginCard input:active{
    
  transform: scale(0.98);

}

.loginCard h1 {
    font-size: 2rem;
    font-weight: 500;
}

.loginIndex {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.btnLogin {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btnLogin button {
    font-size: 1rem;
    padding: 5px;

    border: 1px solid #2E2E2E;
    border-radius: 10px;

    width: 100%;
    height: 30px;

    transition: all 0.4s;

    cursor: pointer;

}

.btnLogin button:hover {
    background-color: black;
    color: #9C1107;
}

.btnLogin button:active{
    transform: scale(0.98);
}

.linea {
    width: 50%;
    height: 1px;
    background-color: white;
    margin: 10px auto;
    border-radius: 2px;
}


.loginRegister {
    display: flex;
    font-size: 0.9rem;
    gap: 5px;
}


.loginRegister a {
    color: black;
    text-decoration: none;
}

.loginRegister a:hover {
    text-decoration: underline;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 760px) {

    .loginCard {

        width: 300px;
        height: 500px;

    }
    
}