.homeBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.titleHome {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 3.2rem;
    transform: translate(-50%, -50%);
    text-align: center;
}
