.homeBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    z-index: 1;
}

.titleHome {
    border: 1px solid #2E2E2E;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    height: 500px;
    color: #D9D9D9;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.8rem;
}

.titleHome p {
    max-width: 700px;
}

.calHome {
    background-color: red;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: white;
    height: 300px;
    margin: 20px;
}

.calHome h2 {
    text-align: center;
    font-size: 2.8rem;
}

@media (max-width: 760px) {

    .titleHome {
        font-size: 1.2rem;
    }

}