.homeBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    color: white;
}

.presentationHome {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-top: 100px;
}

.auroraBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.titleHome {
    border: 1px solid #2E2E2E;
    border-radius: 20px;
    padding: 40px;
    width: 80%;
    max-width: 900px;
    color: #D9D9D9;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    backdrop-filter: blur(6px);
}

.titleHome p {
    max-width: 600px;
    margin: auto;
}

.iconHome {
    font-size: 2.5rem;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 4;
}

.icon1,
.icon2,
.icon3,
.icon4 {
    border: 1px solid #2E2E2E;
    color: #D9D9D9;
    box-shadow: 0 0 12px rgba(255, 73, 48, 0.4);
    width: 80px;
    height: 60px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover {
    transform: translateY(-5px);
    background-color: #440E03;
}

.calculatorHome {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px;
}

.calHome {
    border: 1px solid #2E2E2E;
    color: #D9D9D9;
    width: 80%;
    max-width: 900px;
    font-size: 1.8rem;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.calHome h2 {
    font-size: 1.5rem;
}

.calHome p {
    font-size: 1.2rem;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.calHome a {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #D9D9D9;
    transition: all 0.4s;
    text-decoration: none;
}

.calHome a:hover {
    color: #440E03;
}

.rutinasHome {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rutinaStyle {
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px;
    margin: auto;
    border: #2E2E2E 1px solid;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
}

.rutinaStyle h3 {
    font-size: 1.4rem;
    text-align: center;
    max-width: 600px;
}

.rutinaStyle p {
    font-size: 1.2rem;
    text-align: center;
}

.rutinaStyle a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    color: #D9D9D9;
    transition: all 0.4s;
}

.rutinaStyle a:hover {
    color: #440E03;
}

.imgStyle img {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.rutinas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
    padding: 20px;
}

.rutinas h4 {
    font-size: 1.2rem;
    font-weight: 700;
}

.rutinas p {
    font-size: 1rem;
}

.cardContainer {
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.wrappers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #9C1107, #440E03, #9C1107);
    background-size: 300% 300%;
    animation: gradientAnimation 6s ease infinite;
    box-shadow: 0 0 18px rgba(255, 73, 48, 0.4);
    padding: 40px;
    width: 150px;
    height: 200px;
}

.wrappers h5{
    font-size: 1.1rem;
    text-align: center;
}

.wrappers p{
    font-size: 0.9rem;
    text-align: center;
}

.iconwrappers{
    font-size: 1.4rem;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



@media (max-width: 760px) {


    .calHome h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .calHome p {
        font-size: 1.2rem;
        margin: auto;
        text-align: center;
    }

    .iconHome {
        font-size: 1.8rem
    }

    .icon1,
    .icon2,
    .icon3,
    .icon4 {
        width: 40px;
        height: 25px;
    }

    .calHome a {
        font-size: 1.4rem;
    }

    .cardContainer{
        display: grid;
    }

    .wrappers{
        width: 250px;
        height: 150px;
    }

}