/* ============================================================
   HOME - ESTILOS GENERALES DE LA PÁGINA
============================================================ */
.homeBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #D9D9D9;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* ============================================================
   SECCIÓN PRESENTACIÓN (HERO + AURORA)
============================================================ */
.presentationHome {
    width: 100%;
    height: 100vh;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    position: relative;
}

.auroraBg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

/* ============================================================
   TITULO PRINCIPAL
============================================================ */
.homeContainer {
    width: 80%;
    max-width: 900px;
    padding: 30px;

    font-size: 1.4rem;
    color: #D9D9D9;
    text-align: center;

    border: 1px solid #2E2E2E;
    border-radius: 20px;
    backdrop-filter: blur(6px);

    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
}

.homeContainer p {
    font-size: 1.2rem;
}


/* ============================================================
   ICONOS PRINCIPALES
============================================================ */
.iconHome {
    font-size: 1.5rem;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    z-index: 4;
}

.icon1,
.icon2,
.icon3,
.icon4 {
    width: 40px;
    height: 30px;
    padding: 20px;

    color: #D9D9D9;
    border: 1px solid #2E2E2E;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(255, 73, 48, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.4s;
}

.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover {
    transform: translateY(-5px);
    background-color: #440E03;
}

/* ============================================================
   CALCULADORA & INFO
============================================================ */
.calculatorHome {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.calHome {
    width: 80%;
    max-width: 900px;
    padding: 30px;

    font-size: 1.2rem;
    color: #D9D9D9;
    text-align: center;
    font-weight: 400;

    border: 1px solid #2E2E2E;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.calHome p {
    font-size: 1.2rem;
    max-width: 700px;
}

.linea {
    width: 8%;
    height: 3px;
    background-color: #D9D9D9;
    margin: 20px auto;
    border-radius: 2px;
}

.calHome a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    font-size: 1.1rem;
    color: #D9D9D9;

    transition: all 0.4s;
}

.calHome a:hover {
    color: #440E03;
}

/* ============================================================
   RUTINAS (CARDS DE RUTINAS)
============================================================ */
.rutinasHome {
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rutinaStyle {
    width: 80%;
    max-width: 900px;
    padding: 30px;

    color: #D9D9D9;
    text-align: center;
    border: 1px solid #2E2E2E;
    border-radius: 10px;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rutinaStyle h4 {
    font-size: 1.2rem;
}

.rutinaStyle p {
    font-size: 1.2rem;
}

.rutinaStyle a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 1.1rem;
    text-decoration: none;
    color: #D9D9D9;

    transition: all 0.4s;
}

.rutinaStyle a:hover {
    color: #440E03;
}

.imgStyle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imgStyle img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* Contenedor de las rutinas */
.rutinas {
    padding: 20px;
    gap: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}



/* ============================================================
   CARDS (ALIEMENTACIÓN / RUTINAS / ENTRENAMIENTO)
============================================================ */
.cardContainer {
    padding: 40px;
    gap: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrappers {
    width: 150px;
    height: 200px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #D9D9D9;
    font-size: 1.1rem;

    background: linear-gradient(135deg, #9C1107, #440E03, #9C1107);
    background-size: 300% 300%;

    animation: gradientAnimation 6s ease infinite;
    box-shadow: 0 0 18px rgba(255, 73, 48, 0.4);
}

.wrappers p {
    font-size: 0.9rem;
    max-width: 700;

}

.iconwrappers {
    font-size: 1.4rem;
}


.homeNutrition {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.auroraBgInverse {
    position: absolute;
    inset: 0;
    transform: rotate(180deg);
    z-index: 0;
}

.nutritionHomeContainer {
    z-index: 10;
    width: 80%;
    max-width: 900px;
    padding: 30px;

    border: #2E2E2E 1px solid;
    border-radius: 20px;

    color: #D9D9D9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nutritionHomeContainer h2 {
    font-size: 1.4rem;
}

.nutritionHomeContainer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 1.1rem;
    text-decoration: none;
    color: #D9D9D9;

    transition: all 0.4s;
}

.nutritionHomeContainer a:hover{
    color: #440E03;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* ============================================================
   RESPONSIVE
============================================================ */
@media (max-width: 760px) {


    .homeContainer {
        font-size: 1.2rem;
    }

    .calHome {
        font-size: 1rem;
    }

    .icon1,
    .icon2,
    .icon3,
    .icon4 {
        width: 30px;
        height: 20px;
    }



    .cardContainer {
        display: grid;
    }

    .wrappers {
        width: 250px;
        height: 150px;
    }
}