.homeBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.titleHome {
    border: 1px solid #2E2E2E;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    height: 500px;
    color: #D9D9D9;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    top: 50%;
    left: 50%;
    font-size: 3.2rem;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.4rem;
}

.titleHome p{
    max-width: 700px;
}

@media (max-width: 760px) {
    
    .titleHome{
        font-size: 1.2rem;
    }

}