.workoutsBody {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: #d9d9d9;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.auroraBg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.presentationWorkouts {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.workoutsContainer {
  position: relative;
  z-index: 2;

  width: 80%;
  max-width: 900px;
  padding: 30px;

  text-align: center;
  color: #d9d9d9;

  display: flex;
  flex-direction: column;
  gap: 30px;

  border: 1px solid #2e2e2e;
  border-radius: 20px;
  backdrop-filter: blur(6px);
}

.iconRotine{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  z-index: 3;
}

.iconRotine a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border: 1px solid #2e2e2e;
  padding: 5px;
  width: 120px;
  height: 40px;
  transition: all 0.2s;
}

.iconRotine a:hover{
  transition: all 0.2s ease;
  box-shadow: 0 0 15px rgba(220, 70, 40, 0.4);
  opacity: 0.8;
}

.showcaseRutine{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

