*{
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body{
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3 ease;
}

:root[data-theme='dark'] {
  --bg: #0D0D0D;
  --surface: #181818;
  --primary: #C1121F;
  --text: #F5F5F5;
  --text-secondary: #A1A1AA;
}

:root[data-theme='light'] {
  --bg: #F7F7F7;
  --surface: #FFFFFF;
  --primary: #C1121F;
  --text: #111111;
  --text-secondary: #5B5B5B;
}